body {
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-rows: 10% 90%;
    overflow: hidden;
    background: #131313;
    color: white;
}

#memeBtn {
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: 250ms;
    width: auto;
    height: 20px;
    text-align: center;
    
    background: rgb(248, 173, 185);
    color: #000;
}

#memeBtn:hover {
    transform: scale(1.2);
}

#memes {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: scroll;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
}

#memes div {
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    height: auto;
    width: 250px;
}

#memes div h4 {
    padding: 5px;
    text-align: center margin, 0;
    border-radius: 8px;
    background: none;
    color: white;
}

img {
    width: 250px;
    height: 250px;
    border-radius:  12px;
    transition: 250ms;
}

img:hover {
    border-radius: 0px;
    transform:  scale(1.2);
}
/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
    body {
      grid-template-rows: 15% 85%;
    }
    
    #memeBtn {
      font-size: 14px;
      height: 30px;
    }
    
    #memes div {
      width: 45%;
    }
  }
  /* Media queries for even smaller screens */
@media only screen and (max-width: 480px) {
    #memes div {
      width: 80%;
    }
  }